<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="co.conceptdev.screenhelper"
    version="0.0.2">

    <name>ScreenHelperPlugin</name>
    <description>ScreenHelper for Surface Duo, with functions to detect if the device is a Surface Duo and also the masked area behind the hinge if the app is spanned.</description>
    <license>MIT License</license>

    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>

    <js-module src="www/screen_helper.js" name="screenhelper">
        <clobbers target="ScreenHelper" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScreenHelperPlugin"> 
                <param name="android-package" value="co.conceptdev.ScreenHelperPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/code/ScreenHelperPlugin.java" target-dir="src/code" />        
        <lib-file src="src/android/libs/com.microsoft.device.display.displaymask.jar" arch="device" />
        <lib-file src="src/android/libs/com.microsoft.device.display.displaymask.jar" arch="simulator" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ScreenHelperPlugin">
                <param name="ios-package" value="ScreenHelperPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/ScreenHelperPlugin.h" target-dir="src/ios" />
        <source-file src="src/ios/ScreenHelperPlugin.m" target-dir="src/ios" />
    </platform>

</plugin>